<div class="py-4" style="background-color: #F53045">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 text-center">
      <%= link_to "#",target:"_blank" do  %>
        <i class="fab fa-instagram social-link-icon"></i>
      <% end %>
      <%= link_to "#",target:"_blank" do  %>
        <i class="fab fa-facebook social-link-icon"></i>
      <% end %>
      <%= link_to "#",target:"_blank" do  %>
        <i class="fab fa-twitter social-link-icon"></i>
      <% end %>
      <%= link_to "#",target:"_blank" do  %>
        <i class="fab fa-linkedin social-link-icon"></i>
      <% end %>
      <%= link_to "#",target:"_blank" do  %>
        <i class="fas fa-rss social-link-icon"></i>
      <% end %>
    </div>
  </div>
</div>
