<div class="bg-white">
  <div class="container container-home py-5">
    <div class="row justify-content-center">
      <div class="col-10 col-lg-6 justify-content-center">
        <h2>Please use this table of content to navigate through my portfolio:</h2>
        <ul class="d-flex flex-wrap justify-content-center" style="list-style: none">
          <li> <%= link_to "Master Banner", "#master-banner", class:"btn btn-light border rounded", style:"min-width:200px; font-size:12px !important;" %> </li>
          <li> <%= link_to "Table of Content", "#table-of-content", class:"btn btn-light border rounded", style:"min-width:200px; font-size:12px !important;" %> </li>
          <li> <%= link_to "Text in 2 Rows", "#text", class:"btn btn-light border rounded", style:"min-width:200px; font-size:12px !important;" %> </li>
          <li> <%= link_to "Secondary Banner", "#secondary-banner", class:"btn btn-light border rounded", style:"min-width:200px; font-size:12px !important;" %> </li>
          <li> <%= link_to "Portfolio Links", "#portfolio-links", class:"btn btn-light border rounded", style:"min-width:200px; font-size:12px !important;" %> </li>
          <li> <%= link_to "Tabs", "#tabs", class:"btn btn-light border rounded", style:"min-width:200px; font-size:12px !important;" %> </li>
          <li> <%= link_to "Assets", "#assets", class:"btn btn-light border rounded", style:"min-width:200px; font-size:12px !important;" %> </li>
          <li> <%= link_to "Cards", "#cards", class:"btn btn-light border rounded", style:"min-width:200px; font-size:12px !important;" %> </li>
          <li> <%= link_to "Collaborate?", "#collaborate-section", class:"btn btn-light border rounded", style:"min-width:200px; font-size:12px !important;" %> </li>
          <li> <%= link_to "Social footer", "#social-footer", class:"btn btn-light border rounded", style:"min-width:200px; font-size:12px !important;" %> </li>
          <li> <%= link_to "Master footer", "#master-footer", class:"btn btn-light border rounded", style:"min-width:200px; font-size:12px !important;" %> </li>
          <li> <%= link_to "Credit footer", "#credit-footer", class:"btn btn-light border rounded", style:"min-width:200px; font-size:12px !important;" %> </li>
        </ul>
      </div>
    </div>
  </div>
</div>
